<h2>C # code examples</h2>
@Html.ActionLink("Return to main...", "Index", "HomeInternal")
<br /><br />

      <div>
          <b>SQL Examples : </b>
          <br /><br />  Web Services
          <ul>

              <li>
                  @Html.ActionLink("An ASMX Web Service.", "CSharpCode_01", "HomeInternal") - A simple ASMX web service used by hand held and Android devices to communicate with SQL Express database.'
              </li>
              <li>
                  @Html.ActionLink("... And the Android app to consume it ... ", "AndroidCode_01", "HomeInternal") - Reorganize all statistics in a database
              </li>

          </ul>
          <br /> WinForms in action.
          <ul>

              <li>
                  @Html.ActionLink("A short video of a WinForm Application...", "CSharpVideo_01", "HomeInternal") - Reorganize all statistics in a database
              </li>
              @*<li>
                @Html.ActionLink("Statistiscs", "SQLCode_04", "HomeInternal") - Reorganize all statistics in a database
            </li>*@
          </ul>

      </div>





