@model ASPTest.Models.UtenteCreateModel

@{
    ViewBag.Title = "Sign in";
}

<h2>Sign in</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(false);
    <div>@Html.LabelFor(m => m.Email)</div>
    <div>
        @Html.TextBoxFor(m => m.Email)
        @*@Html.ValidationMessageFor(m => m.Email)*@
    </div>

    <div>@Html.LabelFor(m => m.UserName)</div>
    <div>
        @Html.TextBoxFor(m => m.UserName)
        @Html.ValidationMessageFor(m => m.UserName)
    </div>

    <div>@Html.LabelFor(m => m.Password)</div>
    <div>
        @Html.TextBoxFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password)
    </div>
    <div>@Html.LabelFor(m => m.RePassword)</div>
    <div>
        @Html.TextBoxFor(m => m.RePassword)
        @Html.ValidationMessageFor(m => m.RePassword)
    </div>
    <br />
    <input type="submit" value="Login" />
}

